#db{
    background-color: teal;
    color: white;
}
#border{
    border-color: turquoise;
    border: solid;
    border-width: 5px;
    border-bottom: solid;
}
body{
    background-color: lightgrey;
}
h1{
    color: darkcyan;
}
#container{
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-inline-start: 20px;
    background-color: white;
    color: darkblue;
}
footer{
    height: 30px;
    background-color: darkcyan;
    color: lightgray;
    text-align: center;
}