#db{
    background-color: teal;
    color: white;
}
#navbar1{
    padding-inline-start: 80%;
}
body{
    background-color: lightgrey;
}
h1{
    color: teal;
}
#container{
    width: 70%;
    margin-left: 10pc;
    background-color: white;
    padding-bottom: 10pc;
    margin-top: 40px;
}
footer{
    color: teal;
    text-align: center;
}
